.book .book-body .page-wrapper .page-inner section.normal a {
  color: #0074d5;
}

.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active>a {
  color: #0074d5;
}

.book .book-header h1 a, .book .book-header h1 a:hover {
  color: #6d787c;
}

.book .book-body .page-wrapper .page-inner section.normal blockquote {
  color: #767676;
}